body {background: black;}

main {background: crimson; height: 212px; width: 209px; border: solid 3px red; border-radius: 3px;}

section {display: block;}

header {background: black; color: white; font-size: 16px; margin: 5px;}

div {display: flex;}

button {color: white; background: black;}

span{background: silver; color: darkgoldenrod; text-align: center; font-size: 18px;}

.black {
    height: 25px; 
    width: 25px; 
    opacity: 750%;
 border: solid 1px purple;
border-radius: 3px;}
.white {
    height: 25px; 
    width: 25px; 
    opacity: 85%;
 border: solid 1px red;

border-radius: 3px;}









