body {background: black;}

main {background: crimson; height: 209px; width: 209px; border: solid 3px red; border-radius: 3px;}

div {display: flex;}

span{background:silver; color: darkgoldenrod; text-align: center; font-size: 17px;}

.black {
    height: 25px; 
    width: 25px; 
    opacity: 750%;
 border: solid 1px purple;
border-radius: 3px;}
.white {
    height: 25px; 
    width: 25px; 
    opacity: 85%;
 border: solid 1px red;

border-radius: 3px;}
